#carre_vert {
    position: absolute;
    left: 50px;
    top: 30px;
    z-index: 3;
}

#carre_rouge {
    position: absolute;
    z-index: 2;
    left: 110px;
    top: 70PX;
}

#carre_bleu {
    z-index: 1;
    position: absolute;
    left: 170px;
    top: 100px;
}