fieldset {
    background-color: rgb(245, 205, 211);
    border: 1px solid rgb(172, 87, 101);
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 20%;
}

span {
    position: fixed;
    display: block;
    margin-right: 40px;
}

input {
    position: relative;
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 110px;
}

select {
    position: relative;
    display: inline-block;
    margin-left: 110px;
    padding-right: 75px;
    padding-bottom: 5px;
    padding-top: 5px;
}

textarea {
    position: relative;
    display: inline-block;
    margin-left: 110px;
    padding-bottom: 45px;
    padding-left: 10px;
}

span.required {
    position: relative;
    display: inline-block;
    color: red;
}

legend {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top: 1px solid rgb(194, 104, 119);
    border-left: 1px solid rgb(194, 104, 119);
    border-right: 1px solid rgb(194, 104, 119);
    background-color: rgb(245, 205, 211);
    color: rgb(248, 135, 158);
}

input[type="submit"] {
    background-color: rgb(96, 96, 165);
    color: white;
    margin-left: 120px;
}