body {
    background-color: black;
    color: white;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../image/nature.jpg);
    background-attachment: fixed;
}
.conteneur {
    width: 80%;
    margin: 0 auto;
}
