a:link {
    background-color: yellow;
}

a:hover {
    color: skyblue;
}

:target {
    border: 1px solid whitesmoke;
    background-color: thistle;
}

div#collection p:last-child {
    background-color: blue;
}