body {
    background-color: black;
}

header {
    background-image: url(../image/nuage.jpg);
}

footer {
    background-image: url(../image/nuage.jpg);
    color: white;
}

p.paragraph, p {
    color: white;
    text-align: center;
}

div#containerbox {
    background-image: url(../image/eau.jpg);
    padding: 1%;
    margin: 5%;
    background-position: center center;
}