body {
    width: 80%;
}

div#gallery {
    border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    margin-left: 10px;
    padding-left: 15px;
    padding-top: 15px;
}

div img {
    display: inline-block;
    left: 15px;
    width: 90%;
}

div div {
    display: inline-block;
    width: 90%;
}

img~div {
    border: 3px solid red;
    display: block;
    text-align: center;
}