main {
    position: relative;
}

nav {
    position: absolute;
    left: 0px;
    width: 200px;
    border: 2px solid red;
}

section {
    margin-left: 210px;
    margin-bottom: 10px;
    border: 2px solid black;
}

footer {
    position: fixed;
    height: 70px;
    right: 10px;
    left: 10px;
    bottom: 10px;
    border: 2px solid green;
}

body {
    margin-bottom: 120px;
}