h2 {
    position: absolue;
    margin-left: 250px;
}

fieldset {
    position: relative;
    display: inline-block;
    margin-left: 400px;
    margin-right: auto;
    margin-bottom: 20px;
    width: 35%;
    background-color: rgb(223, 219, 219);
}

div {
    margin-left: 100px;
    padding-bottom: 15px;
}

label {
    display: inline-block;
    position: relative;
    text-align: right;
    padding-right: 20px;
    width: 100px;
}

input {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

legend {
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border: 1px solid grey;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: grey;
    color: white;
}

input[type="submit"] {
    margin-left: 550px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid white;
    background-color: grey;
    color: rgb(226, 221, 221);
}