nav {}

img {}

a[href="page1"] {}

section {
    position: absolute;
    display: inline-block;
    margin-left: 15%;
    margin-right: 15%;
    border: 2px solid black;
}

section>h1 {
    display: inline-block;
    background-position: center center;
}