main {
    border: 5px solid black;
    background-color: red;
    padding: 10px;
    margin: 50px;
}

section {
    border: 5px solid white;
    background-color: blue;
    margin: 20px;
    padding: 30px;
}

article {
    border: 5px solid green;
    margin: 20px;
    padding: 10px;
}