div {
    position: static;
}

div#conteneur {
    position: relative;
}

#pos_static {
    position: static;
    margin: 1em;
    border: 3px solid;
}

#pos_relative {
    position: relative;
    margin-left: 3em;
    margin-bottom: 1em;
    border: 3px solid;
}

#pos_absolute {
    position: absolute;
    background-position: 0em;
    width: 30em;
    bottom: 0;
    left: 0;
    border: 3px solid;
}

#pos_fixed {
    position: fixed;
    width: 10em;
    right: 0;
    bottom: 0;
    border: 3px solid;
}