/*Utiliser la propriete background*/

div.text-block {
    background-image: url(../image/nature.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 0%;
    width: 80%;
    color: white;
}

h1 {
    text-align: center;
}

/*p {
    font-size: medium;
    color: white;
    background-image: none;
    background-position: center;
    background-color: transparent;
}*/