nav {
    display: inline-block;
    position: fixed;
    border: 2px solid red;
    width: 150px;
}

section {
    position: static;
    margin-left: 165px;
    border: 3px solid black;
    margin-bottom: 1em;
}

footer {
    border: 2px solid green;
    padding-bottom: 2em;
}