#pos_relative {
    position: relative;
    top: 20px;
    left: 30px;
}

#pos_absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
}

#pos_fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}