@font-face {
    font-family: 'Griffy', cursive;
    src: url(fonts/Griffy-Regular.ttf);
}

p:first-of-type {
    font-family: 'Griffy', cursive;
    font-size: small;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&family=Griffy&display=swap');
p {
    font-family: 'Cormorant Infant', serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: medium;
}