body {
    background-color: lightgrey;
    margin-top: 0%;
}

h1 {
    border-top: 6px solid green;
    color: white;
    background-color: red;
    text-align: center;
    margin-left: auto;
    margin-block-end: 15px;
}

div#sommaire {
    padding: 1em;
}

h2 {
    margin-left: 2em;
    padding: 1em;
}