body {
    background-color: grey;
}

h1 {
    background-color: red;
    color: white;
    text-align: center;
    border-top: 10px solid green;
}

#sommaire {
    background: #FFF;
    border: 5px solid green;
    width: 50%;
}

#sommaire+p {
    font-style: italic;
    width: 75%;
}

h2 {
    border-top: 1px solid red;
    border-left: 3px solid red;
    width: 25%;
    background-color: white;
}