h1 {
    background-position: center center;
}

h2 {
    background-position: center center;
    text-align: center;
}

p {}

div#tablecell {
    display: table-cell;
}

div#tablecell+h2 {
    line-height: normal;
}

div#lineheight {}