#conteneur {
    position: relative;
    height: 300px;
}

#conteneur>div {
    position: absolute;
}

#carre_vert {
    z-index: 30;
    top: 50px;
    left: 50px;
}

#carre_rouge {
    z-index: 20;
    top: 100px;
    left: 100px;
}

#carre_bleu {
    z-index: 10;
    top: 150px;
    left: 150px;
}