header {
    border: 3px solid green;
    margin-bottom: 1em;
    padding: 1em;
}

nav {
    border: 3px solid yellow;
    margin-bottom: 1em;
    padding: 1em;
}

article {
    border: 3px solid red;
    display: inline-block;
    width: 50%;
    margin-bottom: 3em;
}

section {
    display: block;
    border: 3px solid blue;
    margin: 1em;
    padding: 1em;
}

aside {
    float: right;
    border: 3px solid black;
    width: 40%;
    padding: 1em;
}

footer {
    border: 3px solid green;
    padding: 1em;
}