table {
    width: 400px;
    height: 300px;
    display: table;
}

thead {
    background-color: black;
    color: white;
    display: table;
    table-layout: fixed;
    width: 100%;
}

tbody {
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 5px;
    border: solid 3px;
    max-height: 100px;
}

tfoot {
    display: table;
    table-layout: fixed;
    background-color: black;
    color: white;
    width: 100%;
}

tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}