body {
    background-color: red;
    margin-top: 40px;
    border: 4px solid black;
    max-width: 70%;
    padding: 1%;
}

section {
    background-color: blue;
    background-position: center;
    width: 90%;
    height: 60%;
    border: 5px solid white;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

article {
    border: solid 4px;
    border-color: green;
    padding: 1em;
    margin-top: 15px;
    margin-right: 25px;
    margin-bottom: 20px;
    margin-left: 20px;
}