div {
    border: 2px solid black;
    margin: 1em;
}

div#avec_id {
    border: 2px solid black;
    background-color: red;
    margin: 1em;
}

div.avec_class {
    border: 2px solid black;
    background-color: blue;
    margin: 1em;
}

div+p {
    background-color: blue;
    text-align: center;
    color: indianred;
    padding: 1%;
    margin: 1em;
}

div div p {
    background-color: grey;
}

div#container_id p {
    background-color: yellow;
    margin: 1em;
}

div>p {
    background-color: green;
}

p+div {
    background-color: yellow;
}

div[data-a=valeur_1] {
    color: white;
    background-color: black;
    padding: 1%;
}

div[data-a=valeur_2] {
    color: indianred;
    padding: 1%;
}