body {
    background-color: lightgrey;
}

head {
    background-color: green;
}

h1 {
    border-top: 10px solid green;
    background-color: red;
    color: white;
    text-align: center;
}

div#sommaire {
    background-color: white;
    border: 3px solid;
    border-top-color: green;
    border-bottom-color: green;
    border-left-color: green;
    border-right-color: green;
}

p:first-of-type {
    font-style: italic;
}

h2 {
    background-color: white;
    border-inline: 2px solid;
    width: fit-content;
    height: fit-content;
    border-block-end-style: hidden;
    border-right-style: hidden;
    border-top-style: solid;
    font-style: normal;
    border-top-color: red;
    border-left-color: red;
}