h1 {
    display: block;
    left: 0;
}

body>h1 {
    padding-left: 20px;
}

div>div {
    border: 2px solid black;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 500px;
    height: 210px;
}

img {
    position: relative;
    display: inline;
    top: 25px;
}

h2 {
    position: relative;
    display: inline;
    right: 20px;
    bottom: 80px;
}

ul {
    position: relative;
    display: inline;
    bottom: 80px;
    left: 160px;
}

a {
    display: inline-block;
    position: relative;
    bottom: 40px;
    left: 310px;
}